<h1>Articles</h1>
<%= link_to 'Adicionar artigo', 'articles/new' %>
<% @articles.each do |article| %>
  <h2><%= link_to article.title, "articles/#{article.id}" %></h2>
  <p><%= article.content %></p>
<% end %>
